
@{
    ViewBag.Title = "PTT Smart EIA Regulatory";
    Layout = "~/Views/Shared/Menu_Layout.cshtml";
}
    <body>
      
            <div class="contain-img">
                <img class="banner-visib" src="@Url.Content("~/Content/template/")img/banner-1.png" />
            </div>

            <div class="logo-link-list">
                <div class="link-box" onclick="window.location.href='/SmartEIA/PetroliumDevelopment'">
                    <div class="icon-link">
                        <img src="@Url.Content("~/Content/template/")img/link-1.svg" width="116.146px" height="150.014px">
                    </div>
                    <div class="text-link">
                       การพัฒนาปิโตรเลียม
                    </div>
                </div>
                <div class="link-box" onclick="window.location.href='/SmartEIA/PipelineTransportation'">
                    <div class="icon-link">
                        <img src="@Url.Content("~/Content/template/")img/link-2.svg" width="116.146px" height="150.014px">
                    </div>
                    <div class="text-link">
                        ระบบขนส่งปิโตรเลียม
                        และน้ำมันเชื้อเพลิงทางท่อ
                    </div>
                </div>
                <div class="link-box" onclick="window.location.href='/SmartEIA/Industrialestate'">
                    <div class="icon-link">
                        <img src="@Url.Content("~/Content/template/")img/link-3s.svg" width="116.146px" height="150.014px">
                    </div>
                    <div class="text-link">
                        นิคมอุตสาหกรรม
                    </div>
                </div>
                <div class="link-box" onclick="window.location.href='/SmartEIA/Petrochemical'">
                    <div class="icon-link">
                        <img src="@Url.Content("~/Content/template/")img/link-4.svg" width="116.146px" height="150.014px">
                    </div>
                    <div class="text-link">
                        อุตสาหกรรมปิโตรเคมี
                    </div>
                </div>
                <div class="link-box" onclick="window.location.href='/SmartEIA/OliPetrochemical'">
                    <div class="icon-link">
                        <img src="@Url.Content("~/Content/template/")img/link-5.svg" width="116.146px" height="150.014px">
                    </div>
                    <div class="text-link">
                        อุตสาหกรรมกลั่นน้ำมันปิโตรเลียม
                    </div>
                </div>
                <div class="link-box" onclick="window.location.href='/SmartEIA/TransformGas'">
                    <div class="icon-link">
                        <img src="@Url.Content("~/Content/template/")img/link-8.svg" width="116.146px" height="150.014px">
                    </div>
                    <div class="text-link">
                        อุตสาหกรรมแยกหรือแปรสภาพก๊าซธรรมชาติ
                    </div>
                </div>
                <div class="link-box" onclick="window.location.href='/SmartEIA/Wasteadjustment'">
                    <div class="icon-link">
                        <img src="@Url.Content("~/Content/template/")img/link-9.svg" width="116.146px" height="150.014px">
                    </div>
                    <div class="text-link">
                        โรงงานปรับคุณภาพของเสียรวมเฉพาะสิ่งปฏิกูลหรือวัสดุที่ไม่ใช้แล้ว
                    </div>
                </div>
                <div class="link-box" onclick="window.location.href='/SmartEIA/ThemalPowerPlant'">
                    <div class="icon-link">
                        <img src="@Url.Content("~/Content/template/")img/link-6.svg" width="116.146px" height="150.014px">
                    </div>
                    <div class="text-link">
                        โรงไฟฟ้าพลังความร้อนและโรงไฟฟ้าประเภทอื่น
                    </div>
                </div>
                <div class="link-box" onclick="window.location.href='/SmartEIA/ExpressWay'">
                    <div class="icon-link">
                        <img src="~/Image/icon/icon-20.png" width="116.146px" height="150.014px">
                    </div>
                    <div class="text-link">
                        ระบบทางพิเศษ
                    </div>
                </div>
                <div class="link-box" onclick="window.location.href='/SmartEIA/HighWayOrRoad'">
                    <div class="icon-link">
                        <img src="~/Image/icon/icon-21.png" width="116.146px" height="150.014px">
                    </div>
                    <div class="text-link">
                       ทางหลวงหรือถนน
                    </div>
                </div>
                <div class="link-box" onclick="window.location.href='/SmartEIA/TransportUseRails'">
                    <div class="icon-link">
                        <img src="@Url.Content("~/Content/template/")img/link-7.svg" width="116.146px" height="150.014px">
                    </div>
                    <div class="text-link">
                        ระบบขนส่งมวลชนที่ใช้ราง
                    </div>
                </div>
                <div class="link-box" onclick="window.location.href='/SmartEIA/Docks'">
                    <div class="icon-link">
                        <img src="@Url.Content("~/Content/template/")img/link-10.svg" width="116.146px" height="150.014px">
                    </div>
                    <div class="text-link">
                        ท่าเทียบเรือ
                    </div>
                </div>
                <div class="link-box" onclick="window.location.href='/SmartEIA/SportDocks'">
                    <div class="icon-link">
                        <img src="@Url.Content("~/Content/template/")img/link-11.svg" width="116.146px" height="150.014px">
                    </div>
                    <div class="text-link">
                        ท่าเทียบเรือสำราญกีฬา
                    </div>
                </div>
                <div class="link-box" onclick="window.location.href='/SmartEIA/LandReclamationAtSea'">
                    <div class="icon-link">
                        <img src="@Url.Content("~/Content/template/")img/link-12.svg" width="116.146px" height="150.014px">
                    </div>
                    <div class="text-link">
                        การถมที่ดินในทะเลหรือทะเลสาบ
                    </div>
                </div>
                <div class="link-box" onclick="window.location.href='/SmartEIA/ConstructionOrExpensionAtSea'">
                    <div class="icon-link">
                        <img src="@Url.Content("~/Content/template/")img/link-13.svg" width="116.146px" height="150.014px">
                    </div>
                    <div class="text-link">
                        การก่อสร้างหรือขยายสิ่งก่อสร้างบริเวณหรือในทะเล
                    </div>
                </div>
                <div class="link-box" onclick="window.location.href='/SmartEIA/AirTransportation'">
                    <div class="icon-link">
                        <img src="@Url.Content("~/Content/template/")img/link-14.svg" width="116.146px" height="150.014px">
                    </div>
                    <div class="text-link">
                        ระบบขนส่งทางอากาศ
                    </div>
                </div>
                <div class="link-box" onclick="window.location.href='/SmartEIA/LargeBuildingsNew'">
                    <div class="icon-link">
                        <img src="@Url.Content("~/Content/template/")img/link-15.svg" width="116.146px" height="150.014px">
                    </div>
                    <div class="text-link">
                        อาคารสูงหรืออาคารขนาดใหญ่พิเศษ
                    </div>
                </div>
                <div class="link-box" onclick="window.location.href='/SmartEIA/Landallocation'">
                    <div class="icon-link">
                        <img src="@Url.Content("~/Content/template/")img/link-16.svg" width="116.146px" height="150.014px">
                    </div>
                    <div class="text-link">
                        การจัดสรรที่ดิน
                    </div>
                </div>
                <div class="link-box" onclick="window.location.href='/SmartEIA/Hospital'">
                    <div class="icon-link">
                        <img src="@Url.Content("~/Content/template/")img/link-17.svg" width="116.146px" height="150.014px">
                    </div>
                    <div class="text-link">
                        โรงพยาบาลหรือสถานพยาบาล
                    </div>
                </div>
                <div class="link-box" onclick="window.location.href='/SmartEIA/Hotel'">
                    <div class="icon-link">
                        <img src="@Url.Content("~/Content/template/")img/link-18.svg" width="116.146px" height="150.014px">
                    </div>
                    <div class="text-link">
                        โรงแรมหรือสถานที่พักตากอากาศ
                    </div>
                </div>
                <div class="link-box" onclick="window.location.href='/SmartEIA/ResidentialBuildings'">
                    <div class="icon-link">
                        <img src="@Url.Content("~/Content/template/")img/link-19.svg" width="116.146px" height="150.014px">
                    </div>
                    <div class="text-link">
                        อาคารอยู่อาศัยรวม
                    </div>
                </div>
            </div>
            <div class="search-ntm">
                <button class="cussb"><i class="fas fa-search"></i></button>
            </div>
            <div class="footer-banner">
                <div class="ffff">

                </div>
            </div>
        
    </body>


